<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.MentalHealthTracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MentalHealthTracker">
        <activity
            android:name=".mainactivity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MentalHealthTracker.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".yoga.Yoga"
            android:parentActivityName=".mainactivity.MainActivity" />
        <activity
            android:name=".music.PlayMusic"
            android:parentActivityName=".mainactivity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mood_tracker.MoodTracker"
            android:parentActivityName=".mainactivity.MainActivity" />
        <activity
            android:name=".breathingexercises.BreathingExercises"
            android:parentActivityName=".mainactivity.MainActivity" />
        <activity
            android:name=".mindfulness.Mindfulness"
            android:parentActivityName=".mainactivity.MainActivity" />
        <activity
            android:name=".mindfulness.MindfulnessInteractive"
            android:parentActivityName=".mindfulness.Mindfulness" />
        <activity
            android:name=".exercises.Exercises"
            android:parentActivityName=".mainactivity.MainActivity" />
        <activity
            android:name=".moreresources.MoreResources"
            android:parentActivityName=".mainactivity.MainActivity" />
        <activity
            android:name=".WebSupportArticles.WebSupportArticles"
            android:parentActivityName=".moreresources.MoreResources" />
        <activity
            android:name=".WebSupportArticles.WebSupportArticleView"
            android:parentActivityName=".WebSupportArticles.WebSupportArticles"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".WebSupportArticles.WebSupportArticleDisplay"
            android:parentActivityName=".WebSupportArticles.WebSupportArticleView"
            />
        <activity
            android:name=".meditation.Meditation"
            android:parentActivityName=".moreresources.MoreResources" />
        <activity
            android:name=".meditation.MeditationPlayer"
            android:parentActivityName=".meditation.Meditation" />
        <activity
            android:name=".connectwithcounsellors.ConnectWithCounsellors"
            android:parentActivityName=".moreresources.MoreResources" />
        <activity
            android:name=".Statistics.ViewStatistics"
            android:parentActivityName=".moreresources.MoreResources" />
    </application>

</manifest>